// Individual message view
extends ../shared/template
block content
  .container
    #banner.page-header
      .row
        .col-xs-12
          h1#header Read your message!!
    .row
      .col-xs-2
      .col-xs-8
        ul
          li= 'From: ' + message.sender.username
          li= 'Date: ' + message.date
          li= 'Body: ' + message.message
