extends ../shared/template
block content
  .container
    #banner.page-header
      .row
        .col-xs-12
          h1#header Register
    .row
      form.form-horizontal(role='form', method='post', action='/register')
        fieldset
          legend Register
          .form-group
            label.col-lg-2.control-label(for='email') Email
            .col-lg-10
              input#email.form-control(type='text', name='email', placeholder='Email Address')
          .form-group
            label.col-lg-2.control-label(for='username') Username
            .col-lg-10
              input#username.form-control(type='text', name='username', placeholder='username')
              span.help-block
                | Your username is public.
          .form-group
            label.col-lg-2.control-label(for='password') Password
            .col-lg-10
              input#password.form-control(type='password',name='password', placeholder='Password')
          button.btn.btn-lg.btn-primary.btn-block(type='submit') Register
block scripts
