.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      a.navbar-brand(href='/') Dibster
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-main')
        span.icon-bar
        span.icon-bar
        span.icon-bar
    #navbar-main.navbar-collapse.collapse
      ul.nav.navbar-nav
        li: a.float(href='/about') About
        li: a.float(href='/faq') FAQ
        li: a.float(href='/browse') Browse
      ul.nav.navbar-nav.navbar-right.nav-pills
        if user
          li: a.float(href='/messages') Inbox
              span.badge #{(unread > 0) ? unread : null}
          li: a.float(href='/items/new') Add Item
          li.divider
          li: a.float(href='/profile')= user.email
          li
            form.navbar-form(method='post', action='/logout')
              .form-group
                input(type='hidden', name='_method', value='delete')
                button.grow.btn.btn-warning.btn-sm Logout
        else
          li: a(href='/register') Register
          li: a(href='/login') Login
