extends ../shared/template
block content
  .container
    #banner.page-header
      .row
        .col-xs-12
          h2 About
    .row
      .col-xs-2
      .col-xs-8
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc semper lectus at urna tempor lobortis. Suspendisse et diam posuere, varius libero a, porta nisi. Praesent in nibh et urna ullamcorper ornare ac vitae lacus. Nunc maximus nunc in rhoncus tristique. Nunc non pretium orci. Mauris convallis nunc ut nisl porta ullamcorper. Phasellus euismod tellus in ultricies hendrerit. Sed laoreet at velit eu consequat. Curabitur congue sed libero eu sagittis. Phasellus eleifend sapien in mauris scelerisque, dignissim viverra ex tincidunt.
        p
          | Morbi volutpat maximus urna, sed aliquam nibh tincidunt pretium. Donec tellus elit, dignissim nec dictum aliquam, consequat at dui. Sed id lacinia purus, sit amet congue diam. Donec tempus gravida ultricies. Pellentesque et neque hendrerit, ornare quam quis, molestie magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec quis arcu bibendum, semper diam sed, tincidunt erat. Nam sit amet nisi sed lorem egestas tincidunt. Suspendisse ut luctus diam. Vestibulum vitae sollicitudin felis, in euismod sem.
      .col-xs-2

block scripts
  script(src='/js/user/home.js')
