extends ../shared/template
block content
  .container
    #banner.page-header
      .row
        .col-xs-12
          h2 Frequently Asked Questions
    .row
      .col-xs-2
      .col-xs-8
        dl
          dt What is Dibster?
          dd Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc finibus id tellus quis lacinia. Nulla sodales dolor in nisl porta maximus. Cras et malesuada odio. Mauris pulvinar augue at lorem posuere.
          br
          dt How do I create an account?
          dd Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc finibus id tellus quis lacinia. Nulla sodales dolor in nisl porta maximus. Cras et malesuada odio. Mauris pulvinar augue at lorem posuere.
          br
          dt How do I list an item to trade?
          dd Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc finibus id tellus quis lacinia. Nulla sodales dolor in nisl porta maximus. Cras et malesuada odio. Mauris pulvinar augue at lorem posuere.
          br
          dt How do I bid on an item I want?
          dd Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc finibus id tellus quis lacinia. Nulla sodales dolor in nisl porta maximus. Cras et malesuada odio. Mauris pulvinar augue at lorem posuere.
          br
          dt What happens when my bid is accepted?
          dd Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc finibus id tellus quis lacinia. Nulla sodales dolor in nisl porta maximus. Cras et malesuada odio. Mauris pulvinar augue at lorem posuere.
      .col-xs-2

block scripts
  script(src='/js/user/home.js')
