extends ../shared/template
block content
  .container
    #banner.page-header
      .row
        .col-xs-12
          h1#header Home
    .bs-component
      .jumbotron
        h1 Dibster
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec porta metus nec eros tempor, ut ultricies est fringilla. Vivamus justo nibh, laoreet a lorem et, molestie gravida leo. Nunc vel dui vestibulum, sagittis neque eget, cursus orci. Sed lorem velit, volutpat sit amet auctor nec, eleifend ac augue. Praesent pretium, purus vitae finibus interdum, nibh augue elementum orci, et condimentum lacus diam posuere enim. Nullam lacinia, ligula nec mollis ultrices, justo est imperdiet purus, et auctor sem augue molestie nisl. Ut volutpat, lorem non imperdiet interdum, velit sapien pharetra sem, eu commodo ligula nibh at dui.
        p
          a.btn.btn-primary.btn-lg(href='/about') About

block scripts
  script(src='/js/user/home.js')
